@import "base/variables";
@import "base/mixins";
@import "blocks/header";
@import "blocks/promo";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";

* {
	font-family: "Museo Sans Cyrl", sans-serif;
	box-sizing: border-box;
}

.container {
	max-width: 950px;
	margin: 0 auto;
}

.title {
	text-align: center;
	color: $text-color;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	&_left {
		color: #fff;
		font-size: 36px;
		text-align: left;
	}
}
